In [1]:
import pandas as pd
import numpy as np

Password = pd.read_csv("dfWordCount")

In [2]:
Password["FChar"] = Password.password.astype(str).str[0]
Password["LChar"] =Password.password.astype(str).str[-1]

In [3]:
def n_lower_chars(string):
    return sum(map(str.islower, string))
def n_upper_chars(string):
    return sum(map(str.isupper, string))
def n_num_chars(string):
    return sum(map(str.isdigit, string))
def n_space_chars(string):
    return sum(map(str.isspace, string))

In [4]:
Password['TotalLength'] = Password.password.astype(str).apply(len)
Password['LowerChar'] = Password.password.astype(str).apply(n_lower_chars)
Password['UpperChar'] = Password.password.astype(str).apply(n_upper_chars)
Password['NumChar'] = Password.password.astype(str).apply(n_num_chars)
Password['SpaceChar'] = Password.password.astype(str).apply(n_space_chars)

In [5]:
Password.groupby('SpaceChar').count()

,Unnamed: 0,password,strength,wordCount,FChar,LChar,TotalLength,LowerChar,UpperChar,NumChar
SpaceChar,,,,,,,,,,
0,669036,669035,669036,669036,669036,669036,669036,669036,669036,669036
1,667,667,667,667,667,667,667,667,667,667
2,122,122,122,122,122,122,122,122,122,122
3,35,35,35,35,35,35,35,35,35,35
4,8,8,8,8,8,8,8,8,8,8
5,6,6,6,6,6,6,6,6,6,6
6,1,1,1,1,1,1,1,1,1,1
7,2,2,2,2,2,2,2,2,2,2
8,1,1,1,1,1,1,1,1,1,1

In [6]:
Password['SpecialChar'] = Password.TotalLength - (Password.LowerChar + Password.UpperChar + Password.SpaceChar + Password.NumChar)

In [7]:
data = Password
strlen = data.password.str.len()
data["Length"] = strlen

In [8]:
from collections import Counter
import re
temp = re.findall(r'\d+', data.password[0]) 
res = bool(map(int, temp)) 
print(res)

True

In [9]:
def split_string(string):
    return list(str(string))

def reps(x):
    temp = split_string(str(x))
    i = 0
    j = 1
    k = 2
    flag = 0
    for y in range(2,len(temp)-1):
        if temp[i] == temp[j] and temp[j] == temp[k]:
            flag = 1
            x = len(temp) + 1
        else:
            i += 1
            j += 1
            k += 1
    return flag

In [10]:
data['Repeats'] = data.password.astype(str).apply(reps)

In [11]:
data.head()

,Unnamed: 0,password,strength,wordCount,FChar,LChar,TotalLength,LowerChar,UpperChar,NumChar,SpaceChar,SpecialChar,Length,Repeats
0,0,kzde5577,1,0,k,7,8,4,0,4,0,0,8.0,0
1,1,kino3434,1,1,k,4,8,4,0,4,0,0,8.0,0
2,2,visi7k1yr,1,1,v,r,9,7,0,2,0,0,9.0,0
3,3,megzy123,1,1,m,3,8,5,0,3,0,0,8.0,0
4,4,lamborghin1,1,2,l,1,11,10,0,1,0,0,11.0,0

In [12]:
data.to_csv('dfFinal.csv', sep=',')